{% extends 'base.html.twig' %}

{% block title %}Se connecter!{% endblock %}

{% block body %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

<div class="container">
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
</div>



<a href="{{ path('app_home_index') }}" class="btn btn-primary">Retour à la boutique</a>

   
{% endblock %}
